:root{
	--body-background-color: #f5f6f7;
	--font-color: #4e4e4e;
	--border-gray-color : #dadada;
	--naver-green-color: #274001;
	--naver-green-border-color: #274001;
}


body{
	background:var(--body-background-color);
}

#headLine{
	text-align:center;
	font-size:2rem;
	font-weight: 700;
	color: #3155a4;
	padding-top:7%;
	margin-bottom: 60px;

}

.main-container{
		width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-top: 3%;
}
.main-container .main-wrap{
	width:534px;
    border: 1px solid #b4b4b4;
    border-radius: 15px;
    display:flex;	
	flex-direction: column;
	align-items: center;
	padding: 53px 0;

}

.main-container .main-wrap .logo-wrap{
	padding-top:110px;
    font-family: 'Nanum Gothic', cursive;
    font-weight: 700;
    font-size: 1.3em;
    color: #274001;
}


.main-container .main-wrap header {
	display:flex;	
	flex-direction: column;
	align-items: center;
}

.find-pw-title {
	width: 400px;
	font-size: 20px;
	color: #333;
	font-size: 1.3rem;
	letter-spacing: -2px;
	margin-bottom: 9px;
    margin-left: 10px;
}

.find-pw-input-section-wrap{
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.shadow_wrap{
	box-shadow: 2px 2px 11px -2px rgb(0 0 0 / 20%);
	border-radius:10px;
}

.find-pw-input-wrap:nth-child(1){
	width: 396px;
	height: 48px;
	border: solid 1px var(	--border-gray-color );
	background: white;
	border-radius: 10px 10px 0 0 ;
}


.find-pw-input-wrap:nth-child(2){
	width: 396px;
	height: 48px;
	border: solid 1px var(	--border-gray-color );
	border-top:none;
	background: white;
}

.find-pw-input-wrap:nth-child(3){
	width: 396px;
	height: 48px;
	border: solid 1px var(	--border-gray-color );
	border-top:none;
	background: white;
	border-radius:0 0 10px 10px;
}



.find-pw-input-wrap input{
	border: none;
	width:375px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
}

.find-pw-button-wrap {
	padding-top: 25px;
}

.find-pw-button-wrap input{
	width: 389px;
	height :48px;
	font-size: 18px;
	background: #3155a4;
	color: white;
	border: solid 1px var(--naver-green-border-color);
    margin-bottom: 10px;
	cursor: pointer;
	border-radius: 10px;
}

.find-pw-button-wrap:hover input{
    background:#b87a10;
    border:1px solid #b87a10;
}
