@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


   
   
   @media screen and (max-width:768px) {
    .wd-basic-960{
        width: 760px;
    }
   }



   .wd-basic-960{
        width: 960px;
    } 
     
   .mb-auto{
        margin: 0 auto;
    }
    
    
    #sub-title{
        /* background:url('../images/sta-banner.jpg'); */
        border-bottom: 1px dotted #3155a4;
        height: 116px;
        text-align: center;
        line-height: 116px;
        font-size: 30px;
        color: rgb(84, 84, 84);
        font-weight: 700;
    }

    /* check_score */

    #check_score h4{
        font-size: 1.4rem;
    }

    #check_score p{
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }


    .ft-bold{
        font-weight: 600;
    }

    table{
        border: 1px solid #eee;
        border-collapse: collapse;
    }

    table tr, td{
        border: 1px solid #eee;
        padding: 11px 10px 11px 20px;
        font-size: 14px;
        color: #6b6b6b;
        font-weight: 400;
    }

    table tr:nth-child(1) td{
        text-align: center;
        font-weight: 700;
        border-right: 1px solid #ddd;
        background-color: #eee;
      
    }

    
    table tr:nth-child(1) td:nth-child(n+3){
        padding-right: none;
        padding: 0;
        width: 56px;
    }
    
    .click-wrap{
    	text-align:center;
    }
    
     .click-wrap #a_click_name{
     	line-height: 35px;
	    display: inline-block;
	    background: #3155a4;
	    color: #fff;
	    width: 120px;
	    height: 35px;
	    border-radius: 30px;
	    margin-bottom:10px;
     }
     
     #cnt_name{
     	margin-top:0.5rem;
     	margin-bottom:8rem;
     	font-size:1.2rem;
     }
    
     #cnt_name .cnt{
     	color:tomato;
     }
  