:root{
	--body-background-color: #f5f6f7;
	--font-color: #4e4e4e;
	--border-gray-color : #dadada;
	--main-color: #3155a4;
	--main-border-color: #3155a4;
}


body{
	background:var(--body-background-color);
}

.main-container{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-top: 21px;
}
.main-container .main-wrap{
	width:650px;

}

.main-container .main-wrap .logo-wrap{
	padding-top:50px;
}

.main-container .main-wrap .logo-wrap{
    font-family: 'Nanum Gothic', cursive;
    font-weight: 600;
    font-size: 1.3em;
    color: #131313;
	margin-bottom: 25px;
}


.main-container .main-wrap header .logo-wrap{
	display:flex;	
	flex-direction: column;
	align-items: center;
}
.login-input-section-wrap{
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-input-wrap{
	width: 465px;
	height: 48px;
	border: solid 1px var(	--border-gray-color );
	background: white;
}
.password-wrap{
	margin-top: 13px;
}

.login-input-wrap input{
	border: none;
	width:430px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
}

.login-button-wrap {
	padding-top: 13px;
}

.login-button-wrap input{
	width: 465px;
	height :48px;
	font-size: 18px;
	background: var(--main-color);
	color: white;
	border: solid 1px var(--main-border-color);
    margin-bottom: 10px;
	cursor: pointer;
}



.login-stay-sign-in{
	width: 465px;
	height: 52px;
	
	display: flex;
	font-size: 15px;
	color: #4e4e4e;
	align-items: center;
	justify-content: flex-start;
	border-bottom: solid 1px var(--border-gray-color);
}
.login-stay-sign-in i{
	font-size: 25px;
	color: #9ba1a3;
}

.login-stay-sign-in span{
	padding-left: 5px;
	line-height: 25px;
}

.find_wrap{
    padding: 20px 0 35px;
    text-align: center;
}

.find_wrap li{
    position: relative;
    display: inline-block;
}

.hover_green a:hover{
    color: #274001 ;
    font-weight: 700;
}

#find_wrap li:nth-child(2){
    border-left: 1px solid #4e4e4e;
    border-right: 1px solid #4e4e4e;
    padding: 0 10px;
    margin: 0 5px;
}

