    
    
  *{
    font-family: 'Nanum Gothic', cursive;
   }
   
   
   @media screen and (max-width:768px) {
    .wd-basic-960{
        width: 760px;
    }
   }

   .wd-basic-960{
        width: 960px;
    } 
     
   .mb-auto{
        margin: 0 auto;
    }
    
    
    #sub-title{
        /* background:url('../images/sta-banner.jpg'); */
        height: 116px;
        text-align: center;
        line-height: 116px;
        font-size: 30px;
        color: rgb(84, 84, 84);
        font-weight: 700;
        border-bottom: 1px dotted #3155a4;
    }

    /* 지역별로 페이지 만들시 */

    #sta-location{
        margin: 45px auto;
    }


    #sta-location ul{
        display: flex; 
        flex-wrap: nowrap; 
        flex-direction: row;
        justify-content: space-between;
        color: #888;
        /* color: #333; */
    }

    #sta-location ul li{
        letter-spacing: -2px;
        font-family: 'Nanum Gothic', sans-serif;
    }



    #sta-location ul li:first-child  span{
        border-right: 1px solid rgb(149, 149, 149);
        padding-right: 10px;
        margin-right: 7px;
    }

    #sta-location ul li:first-child span:nth-child(3){
        font-weight: 700;
        color: #333;
    }


    #sta-location ul li span:last-child{
        border:none;
    }

    #sta-location ul li:first-child span a:hover{
        font-weight: 700;
        color: #333;
    }

    #sta-location ul li:nth-child(2){
        color: #777;
        font-size: 14px;
    }

    #sta-location ul li:nth-child(2) a:hover{
        color:#333;
        font-weight: 700;
    }

    /* sta-location class이름 */
    .sta-location{
        margin: 45px auto;
    }



    /* sub-name 여기까지 공통[select_region]*/

    #sub-name{
        font-size: 25px;
        font-weight: 700;
        margin : 50px auto;
        font-family: 'Nanum Gothic', sans-serif;
    }

    /* sta-location 아래 ul li 스타일을 내가 다룰 수 없어서 새로 줬어.. */
    .sr_div_margin_height {
        margin: 45px auto;
    }

    .sr_program_mr-auto {
        margin: 102px auto 150px auto;
    }

    .sr_program_mr-auto h1 span {
        font-size: 20px;
    }

    /* sub-name 여기까지 공통[select_region] */ 

    table{
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        font-size: 14px;
    }

    table tr:first-child{
        border-top:2px solid #3155a4;
    }

    
    .region{
        width: 27%;
    }
    
    .sr_region_width td:nth-child(3) {
        width: 142.97px
    }

    .sr_region_width td:nth-child(4) {
        width: 142.97px
    }

    .sr_region_width td:nth-child(5) {
        width: 142.97px
    }

    .max_min{
        width: 15%;
    }

    th{
        border: 1px solid #e8e6e6;
    }

    td{
        padding:14px 0;
        border: 1px solid #e8e6e6;
    }

    .last_line{
        line-height: 27px;
    }
    

    /* 지역 소개 */
    .introduce {
        padding-top: 45px;
    }

    .sr_map {
        float: left;
    }

    .sr_map_detail ul {
        list-style-type: disc;
        padding-top: 10px;
        padding-left: 300px;
    }

    .sr_map_detail ul li {
        margin: 30px 0;
    }


    /* 추천 농산물 */
    .recommend h1 {
        padding-top: 150px;
    }

    
    .recommend p:nth-child(n+2){
        margin-top: 20px;
    }

    .recommend p span {
        float: right;
        font-size: 12px;
        color: #aaa;
    }

    .check_soil{
        border: 1px solid #eee;
        display: inline-block;
        height: 50px;
        width: 250px;
        text-align: center;
        line-height: 50px;
        margin-bottom: 15px;
        margin-top: 25px;
    }

    .check_soil:hover{
        background-color: #777;
        color: #fff;
    }

    /* 초기 자본금 */

    .f-money p:nth-child(n+2){
        margin-top: 20px;
    }

/* 농촌에서 살아보기 */
#sr_program {
    width: 960px;
    height: 350px;
}

.sr_sub_title {
    padding: 20px;
    font-weight: 600;
}

.sr_sub_title span {
    float: right;
    padding-right: 20px;
}

.sr_program_list {
    height: 300px;
    border: 1px solid #ddd;
    border-top: 2px solid #3155a4;
}

.sr_program_list ul {
    list-style-type: disc;
}

.sr_program_list ul li {
    margin:35px 50px;
}

.sr_program_list ul li:hover {
    font-weight: 800;
}

.sr_program_list ul li span {
    float: right;
    color: #aaa;
}